body {
    display: flex;
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif;
    // background-image: url('/static/img/homepage.png');
    // background-size: cover;
    // background-position: center center;
    color: #414141;
    font-weight: 300;
    min-height: 100vh;
    width: 100%;
    overflow-y: auto;
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}
/*
NOTE: naming keyframes as wiggle-vertically will
result in `postcss-modules/no-unused-class`
warning. very weird!
 */
@keyframes wiggle {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0);
    }
}

.error-page {
    display: flex;
    position: relative;
    flex-direction: column;
    z-index: 0;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    --height-logo-container: 15vh;
    --height-footer: 55px;
    --spacing-super-large: 3.01rem;
    --spacing-large: 1.17rem;
    --font-size-ultra-large: 4.6rem;
    --font-size-extra-large: 1.25rem;
    --font-size-super-large: 2rem;
    --font-size-mega-large: 4rem;

    .logo-container {
        display: flex;
        align-items: center;
        padding: 0 calc(2 * var(--spacing-super-large));
        height: var(--height-logo-container);
        overflow: auto;
        color: #00125b;

        .logo {
            height: var(--font-size-mega-large);
        }
    }

    .background {
        display: flex;
        position: relative;
        z-index: 1;
        height: calc(100vh - (var(--height-logo-container) + var(--height-footer)));

        .background-image {
            position: absolute;
            z-index: -1;
            animation: wave 4s linear infinite;
        }

        @keyframes wave {
            0% {
                transform: scaleX(1);
            }
            50% {
                transform: scaleX(1.2) translateX(-100px);
            }
            100% {
                transform: scaleX(1);
            }
        }

        .kraken {
            display: block;
            position: absolute;
            top: -100px;
            right: 10vh;
            animation: wiggle 4s 1s linear infinite;
            --height: 24rem;
        }

        .content {
            display: flex;
            align-self: center;
            flex-direction: column;
            padding: 0 calc(2 * var(--spacing-super-large));
            color: #00125b;
            font-weight: 600;
            gap: var(--spacing-large);

            .error-message-title {
                font-size: var(--font-size-ultra-large);
            }

            .error-message {
                line-height: 2;
                font-size: var(--font-size-extra-large);
            }

            .link {
                color: #1a3ed0;
            }

            .button {
                margin-top: var(--spacing-super-large);
            }
        }
    }

    .footer {
        display: flex;
        position: absolute;
        bottom: 0;
        align-items: center;
        justify-content: center;
        z-index: 1;
        background-color: #fff;
        width: 100vw;
        height: var(--height-footer);
    }
}
